---
import { Image } from '@astrojs/image/components';
import like from '../assets/footer.png';
import linkedin from '../assets/icons/linkedin.png';
import github from '../assets/icons/github.png';
import '../styles/footer.scss';
---

<footer class='flex flex-col items-center footer'>
  <div class='footer__image'>
    <Image src={like} width={42} height={38} alt='Thanks for watching' />
  </div>
  <p>Thanks for watching</p>
  <div class='footer__social flex gap-4'>
    <a href={import.meta.env.LINKEDIN} target='_blank'>
      <Image src={linkedin} width={30} height={30} alt='Linkedin' />
    </a>
    <a href={import.meta.env.GITHUB} target='_blank'>
      <Image src={github} width={30} height={30} alt='Github' />
    </a>
  </div>
  <p class='mt-4'><small>2023</small></p>
</footer>
