---
import { Image } from '@astrojs/image/components';
import '../styles/stack.scss';

const experience = [
  {
    name: 'HTML 5',
    image: 'html5',
    level: 'Main stack',
  },
  {
    name: 'CSS 3',
    image: 'css3',
    level: 'Main stack',
  },
  {
    name: 'Javascript',
    image: 'javascript',
    level: 'Main stack',
  },
  {
    name: 'Typescript',
    image: 'typescript',
    level: 'Low',
  },
  {
    name: 'React JS',
    image: 'react',
    level: 'Main stack',
  },
  {
    name: 'Laravel',
    image: 'laravel',
    level: 'Low',
  },
  {
    name: 'Bootstrap',
    image: 'bootstrap',
    level: 'High',
  },
  {
    name: 'Tailwind',
    image: 'tailwind',
    level: 'Medium',
  },
  {
    name: 'Figma',
    image: 'figma',
    level: 'Main stack',
  },
  {
    name: 'Gatsby',
    image: 'gatsby',
    level: 'Medium',
  },
  {
    name: 'Redux',
    image: 'redux',
    level: 'Medium',
  },
  {
    name: 'React Query',
    image: 'reactquery',
    level: 'Medium',
  },
];
---

<section
  class='max-w-screen-lg mx-auto stack grid lg:grid-cols-3 grid-cols-1 px-4'
>
  <div
    class='stack__list flex flex-col justify-center text-center lg:text-left'
  >
    <h2>Stack</h2>
    <div>
      {
        experience.map(({ name, level }) => (
          <span class='bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300 '>
            {name} | <span class='text-gray-400'>{level}</span>
          </span>
        ))
      }
    </div>
  </div>
  <div class='col-span-2 stack-animation'>
    {
      experience.map(({ name, image, level }, i) => (
        <div
          class={`stack-animation__item flex justify-between items-center mx-auto ${name}`}
        >
          <div class='flex items-center gap-4'>
            <div>
              <Image
                src={import(`../assets/experience/${image}.png`)}
                width={70}
                height={70}
                alt={name}
              />
            </div>
            <p>{name}</p>
          </div>
          <p>
            <span>{level}</span>
          </p>
        </div>
      ))
    }
  </div>
</section>
